<div id="<%= dom_id student %>">
  <p>
    <strong>Student name:</strong>
    <%= student.student_name %>
  </p>

  <p>
    <strong>Student dob:</strong>
    <%= student.student_DoB %>
  </p>

  <p>
    <strong>Student phone:</strong>
    <%= student.student_phone %>
  </p>

  <p>
    <strong>Student email:</strong>
    <%= student.student_email %>
  </p>

  <p>
    <strong>Student address:</strong>
    <%= student.student_address %>
  </p>

</div>
