<div id="<%= dom_id book_borrowed %>">
  <p>
    <strong>Book:</strong>
    <%= book_borrowed.book_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= book_borrowed.student_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= book_borrowed.teacher_id %>
  </p>

  <p>
    <strong>Borrow date:</strong>
    <%= book_borrowed.borrow_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= book_borrowed.due_date %>
  </p>

</div>
