<%= form_with(model: book_borrowed) do |form| %>
<% if book_borrowed.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(book_borrowed.errors.count, "error") %> prohibited this book_borrowed from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% book_borrowed.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :book_id, class: label_class %>
        <%= form.select :book_id, options_from_collection_for_select(
          Book.all, 'id', 'book_name', selected = book_borrowed.book_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :student_id, class: label_class %>
        <%= form.select :student_id, options_from_collection_for_select(
          Student.all, 'id', 'student_name', selected = book_borrowed.student_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :teacher_id, class: label_class %>
        <%= form.select :teacher_id, options_from_collection_for_select(
          Teacher.all, 'id', 'teacher_name', selected = book_borrowed.teacher_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :borrow_date, class: label_class %>
          <%= form.date_field :borrow_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :due_date, class: label_class %>
          <%= form.date_field :due_date, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if book_borrowed.persisted? %>
<%= link_to "Cancel", book_borrowed, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", book_borroweds_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
