<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Book_borrowed</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to book_borroweds_path, class: button_class(theme: "transparent") do %>
      All Book_borroweds
      <% end %>
      <%= link_to edit_book_borrowed_path(@book_borrowed), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Book:</p>
        <p><%= @book_borrowed.book %></p>
      </li>
      <li>
        <p class="font-semibold">Student:</p>
        <p><%= @book_borrowed.student %></p>
      </li>
      <li>
        <p class="font-semibold">Teacher:</p>
        <p><%= @book_borrowed.teacher %></p>
      </li>
      <li>
        <p class="font-semibold">Borrow date:</p>
        <p><%= @book_borrowed.borrow_date %></p>
      </li>
      <li>
        <p class="font-semibold">Due date:</p>
        <p><%= @book_borrowed.due_date %></p>
      </li>
  </ul>
</div>
