<div id="<%= dom_id teacher %>">
  <p>
    <strong>Teacher name:</strong>
    <%= teacher.teacher_name %>
  </p>

  <p>
    <strong>Teacher dob:</strong>
    <%= teacher.teacher_DoB %>
  </p>

  <p>
    <strong>Teacher phone:</strong>
    <%= teacher.teacher_phone %>
  </p>

  <p>
    <strong>Teacher email:</strong>
    <%= teacher.teacher_email %>
  </p>

  <p>
    <strong>Teacher address:</strong>
    <%= teacher.teacher_address %>
  </p>

</div>
